.regular-customers ul {
  margin-bottom: 94px;
  display: flex;
  justify-content: space-between;
}

.regular-customers li {
  width: 170px;
  height: 92px;
  border: 1px solid $border-color;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}