.nav-list {
  padding-left: 97px;
  display: flex;
}

.nav-list .item {
  margin-right: 61px;
  font-weight: 500;
}

.nav-list a {
  padding: 32px 0 31px 0;
}

.nav-list li a:hover,
.nav-contacts li a:hover,
.nav-contacts a:hover .icons-list {
  color: $accent-color;
  fill: $accent-color;
}

.nav-list .item:last-child {
  padding-right: 0;
}