.regular-customers__title {
  @media screen and (min-width: 1440px) {
    padding-bottom: 50px;
  }
}

.regular-customers__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1440px) {
    margin-bottom: 94px;
    flex-wrap: nowrap;
  }
}

.regular-customers__link {
  &:nth-child(2n + 1) {
    margin-bottom: 30px;
  }

  &:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }

  @media screen and (min-width: 1440px) {
    &:nth-child(2n + 1) {
      margin-bottom: 0;
    }
  }
}

.regular-customers__list-item {
  width: 210px;
  height: 92px;
  border: 1px solid $border-color;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    border: 1px solid $accent-color;
  }

  @media screen and (min-width: 768px) {
    width: 226px;
  }

  @media screen and (min-width: 1440px) {
    width: 170px;

    &:nth-child(2n + 1) {
      margin-bottom: 0;
    }
  }
}
