.regular-customers__title {
}

.regular-customers__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media screen and (min-width: 1600px) {
    margin-bottom: 94px;
    flex-wrap: nowrap;
  }
}

.regular-customers__list-item {
  width: 210px;
  height: 92px;
  border: 1px solid $border-color;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:nth-child(2n + 1) {
    margin-bottom: 30px;
  }

  &:hover {
    border: 1px solid $accent-color;
  }

  @media screen and (min-width: 1600px) {
    width: 170px;
    height: 92px;

    &:nth-child(2n + 1) {
      margin-bottom: 0;
    }
  }
}
