
.soft-skills-icons-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  min-height: 120px;
  background-color: $bg-tertiary-color;
  border-radius: 4px;
  margin-bottom: 30px;
}

.soft-skills-icons-list {
  background: transparent;
}