$primary-text-color: #212121;
$secondary-text-color: #757575;
$tertiary-text-color: #ffffff;
$accent-color: #2196f3;
$bg-primary-color: #2f303a;
$bg-secondary-color: #e5e5e5;
$bg-tertiary-color: #f5f4fa;
$border-color: #afb1b8;