.soft-skills__title {
  text-align: center;
  padding-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.soft-skills__text {
  color: $secondary-text-color;
  line-height: 1.7;
  margin-bottom: 30px;
}
