

.active-button {
  color: $tertiary-text-color;
  font-size: 16px;
  line-height: 1.875;
  min-width: 200px;
  background-color: $accent-color;  
  padding: 10px 20px;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */

}

.unactive-button {
  background-color: $bg-tertiary-color;
  border-radius: 4px;
  box-shadow: none;
  color: $primary-text-color;
  font-weight: 500;
}

.unactive-button:hover,
.unactive-button:focus {
  color: $tertiary-text-color;
  font-size: 16px;
  line-height: 1.875;
  min-width: 200px;
  background-color: $accent-color;
  padding: 10px 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: 0.4s ease-out;
}