.margin-right {
  margin-right: 8px;
}

header {
  border-bottom: 1px solid #ececec;
  margin-bottom: 94px;
}

header nav.container {
}

.portfolio-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-nav li a {
  border: none;
}