.request-form {
  color: $secondary-text-color;
  padding: 0 40px;
  font-family: "Roboto";
  letter-spacing: 0.03em;
  font-style: normal;
}

.request-form h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: $primary-text-color;
  margin-top: 40px;
  margin-bottom: 30px;
}

.field-form {
  position: relative;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.field-form label,
.field-form .field-form-span-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16666;
  letter-spacing: 0.01em;
}

.field-form input,
.field-form textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 10px 20px;
  resize: none;

  transition: outline 250ms linear;
}

.field-form textarea {
  margin-bottom: 0;
}

.field-form input:hover,
.field-form textarea:hover,
.field-form input:focus,
.field-form textarea:focus {
  outline: 1px solid $accent-color;
}

.field-form input {
  padding-left: 42px;
}

.field-form .span-form-icon {
  position: absolute;
  top: 46%;
  left: 15px;
}

.span-form-icon {
  fill: $primary-text-color;
  transition: fill 250ms linear;
}

.name-form-icon {
  width: 12px;
  height: 12px;
}

.phone-form-icon {
  width: 13px;
  height: 13px;
}

.email-form-icon {
  width: 15px;
  height: 12px;
}

.field-form:hover .span-form-icon,
.field-form input:focus ~ .span-form-icon {
  fill: $accent-color;
}

.flex-form {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin-bottom: 15px;
}

.flex-form label {
  padding: 0;
  font-size: 14px;
  line-height: 1.71;
}

.flex-form input[type="checkbox"] {
  margin-right: 9px;
  margin-top: 3px;
  padding: 0;
  outline: none;
}

.label-checkbox-form {
  position: relative;
  padding-left: 11px;
  background-color: transparent;
}

/* adding visual appearnce and visually hidden technics to replace  */
/* the checkbox correctly */

.checkbox-form {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* position: absolute; */

  /* absolute doesn't work correctly because of another type of preferences */
  /* position: absolute; */
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.check-form-icon {
  position: absolute;
  top: 1px;
  left: -1px;

  border: 2px solid black;
  width: 16px;
  height: 15px;
  fill: black;
  border-radius: 2px;
}

.checkbox-form:checked + .check-form-icon  {
  background-image: url('../images/icons-sprite/icon-check.svg');
  background-color: $accent-color;
  background-size: contain;
  border-radius: 3px;
  border-color: $accent-color;
  background-origin: border-box;
}


.request-form button {
  margin-bottom: 40px;
}

label.field-form {
  margin-top: 20px;
  position: relative;
}

div.field-form:last-child {
  margin-bottom: 20px;
}


label.field-form .field-form-span-label {
  position: absolute;
  top: 26%;
  left: 43px;

  transform: translate(0);
  transition: transform 250ms linear;
}

label.field-form .new-span-icon {
  position: absolute;
  top: 27%;
  fill: $primary-text-color;
  left: 15px;
}

label.field-form:focus-within,
label.field-form:focus-within .new-span-icon {
  fill: $accent-color;
}

label.field-form:focus-within .field-form-span-label,
label.field-form input:not(:placeholder-shown) + .field-form-span-label {
  transform: translate(-45px, -30px);
}