header {
  position: relative;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    & .nav__list {
      display: flex;
    }

    & .nav__contacts {
      display: block;
    }
  }

  @media screen and (min-width: 1440px) {
    justify-content: flex-start;

    & .nav__contacts {
      display: flex;
    }
  }
}

.nav__portfolio-page {
  @media screen and (min-width: 768px) {
    border-bottom: 1px solid #ececec;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1440px) {
    margin-bottom: 94px;
  }
}

.nav__logo {
  padding: 16px 0;

  @media screen and (min-width: 768px) {
    padding: 26px 0;
  }
}

.nav__button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  & .menu-close-icon {
    display: none;
  }

  &.is-open .menu-close-icon {
    transform: translateY(0);
    display: block;
  }

  &.is-open .menu-open-icon {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-open-icon {
  width: 24px;
  height: 16px;
}

.menu-close-icon {
  width: 19px;
  height: 19px;
}

// MENU LIST NAVIGATION

.nav__list {
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 100%;
    left: 0;

    border-top: 1px solid #ECECEC;
    z-index: 2;
    // left: 50%;
    // transform: translate(-50% -50%);

    width: 100%;
    display: none;

    transform: translateY(-15px);
    transition: transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);

    &.is-open {
      display: block;
      transform: translateY(0);
    }
  }

  @media screen and (min-width: 768px) {
    padding: 26px 0;
    display: flex;
  }

  @media screen and (min-width: 1440px) {
    margin-left: 93px;
  }
}

.nav__item {
  @media screen and (max-width: 767px) {
    padding: 15px;
    margin: 0 auto;
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    margin-right: 62px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.nav__link {
  @media screen and (max-width: 767px) {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    padding: 33px 0 33px 0;
  }
}

.nav__contacts {
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 315%;
    left: 0;
    padding-top: 15px;
    padding-bottom: 25px;

    z-index: 2;
    // left: 50%;
    // transform: translate(-50% -50%);

    width: 100%;
    display: none;

    &.is-open {
      display: block;
    }
  }

  @media screen and (min-width: 1440px) {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}

.contacts__nav__item {
  @media screen and (max-width: 767px) {
    padding: 5px;
    margin: 0 auto;
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    &:hover,
    &:focus {
      color: $accent-color;
      fill: $accent-color;
    }

    &:last-child {
      margin-top: 10px;
    }
  }

  @media screen and (min-width: 1440px) {
    &:last-child {
      margin-left: 30px;
      margin-top: 0;
    }
  }
}

.nav__contacts-link {
  @media screen and (max-width: 767px) {
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  @media screen and (min-width: 768px) {
    &:hover,
    &:focus {
      color: $accent-color;
      fill: $accent-color;
    }
  }
  @media screen and (min-width: 1440px) {
    display: flex;
    align-items: center;
    margin-left: 0;
  }
}

.icons-list {
  @media screen and (min-width: 1440px) {
    margin-right: 10px;
  }
}
