section.hero {
  position: relative;
  text-align: center;
  width: 100%;
  min-height: 600px;
  color: $tertiary-text-color;
  font-family: Roboto, serif;
  background-color: $bg-primary-color;
  margin-bottom: 94px;
}

.hero > .container {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  background: transparent;
  flex-direction: column;
}

.hero .button:hover {
  color: $accent-color;
  background-color: $tertiary-text-color;
}