.subscribe-form .footer-button {
  min-width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
}

.footer-button span {
  background-color: transparent;
  margin-right: 30px;
  font-size: 16px;
  line-height: 1.875;
}

.footer-button .icon-send {
  fill: white;
  width: 24px;
  height: 24px;
  background-color: transparent;
  transition: fill 500ms linear;
}

.subscribe-form .footer-button:hover {
  background-color: $bg-tertiary-color;
  color: $accent-color;
}

.footer-button:hover .icon-send {
  fill: currentColor;
}
