.footer-form,
.footer-form .subscribe-form,
.subscribe-form input,
.subscribe-form label {
  background-color: transparent;
}

.subscribe-form {
  display: flex;
  align-items: center;
  justify-content: right;
}

.footer-email-input-block {
  position: relative;
  background: transparent;
}

.subscribe-form input {
  height: 50px;
  min-width: 357px;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px;
  margin-right: 8px;
  color: $tertiary-text-color;
}

.footer-email-label {
  position: absolute;
  top: 16px;
  left: 16px;

  font-size: 16px;
  color: $secondary-text-color;
  transition: transform 250ms linear, color 250ms linear;
}

.subscribe-form input:focus + .footer-email-label,
.subscribe-form input:not(:placeholder-shown) + .footer-email-label {
  transform: translateX(-75px);
  color: $tertiary-text-color;
}