.footer-contacts-block {
  background-color: transparent;
  margin-right: 70px;
}

.footer-contacts-block .google-map-link {
  display: block;
  color: $tertiary-text-color;
  width: 231px;
  line-height: 1.714;
  margin-bottom: 5px;
}

.footer-contacts-block .google-map-link:hover {
  color: rgba(255, 255, 255, 0.8);
}

.footer-contacts a {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  color: rgba(255, 255, 255, 0.8);
}

.footer-contacts .item {
  margin-top: 5px;
  margin-bottom: 60px;
}